
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>新規記事登録</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <%- include("../../_share/stylesheets.ejs") %>
    <!-- Bootstrap core CSS -->
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>
  <body>
<%- include("../../_share/navbar.ejs") %>
<main role="main" class="container">

  <div class="border-bottom mt-5 mb-5">
    <h1>新規記事登録</h1>
  </div>
  <form>
    <%
      var errors = locals.errors || {};
      var original = locals.original || {};
    %>
    <% if (locals.errors) { %>
      <div class ="alert alert-danger">
      <% for (var key in errors) { %>
        <div><i class ="fa fa-exclamation-circle fa-fw mr-2"></i><%= errors[key] %></div>
      <% } %>
      </div>
    <% } %>
    <div class ="form-group row">
      <label for="url" class ="col-sm-2 col-form-label">URL:</label>
      <div class ="col-sm-10">
        <input type ="text" class ="form-control <%= errors.url ? 'is-invalid' : '' %>" id ="url" name ="url" value ="<%= original.url %>" />
      </div>
    </div>
    <div class ="form-group row">
      <label for="title" class ="col-sm-2 col-form-label">タイトル:</label>
      <div class ="col-sm-10">
        <input type ="text" class ="form-control <%= errors.title ? 'is-invalid' : '' %>" id ="title" name ="title" value ="<%= original.title %>" />
      </div>
    </div>
    <div class ="form-group row">
      <label for="content" class ="col-sm-2 col-form-label">本文:</label>
      <div class ="col-sm-10">
        <textarea type ="text" class ="form-control" id ="content" name ="content" rows="6"><%= original.content %></textarea>
      </div>
    </div>
    <div class ="form-group row">
      <label for="keywords" class ="col-sm-2 col-form-label">キーワード:</label>
      <div class ="col-sm-10">
        <input type ="text" class ="form-control" id ="keywords" name ="keywords" value ="<%= original.keywords %>" />
      </div>
    </div>
    <div class ="form-group row">
      <label for="authors" class ="col-sm-2 col-form-label">著者:</label>
      <div class ="col-sm-10">
        <input type ="text" class ="form-control" id ="authors" name ="authors" value ="<%= original.authors %>" />
      </div>
    </div>
    <div class ="form-group row">
      <div class ="col-sm-2"></div>
      <div class ="col-sm-10">
        <input type ="submit" class ="btn btn-primary" data-method="POST" data-action="/account/posts/regist/confirm" value ="確認" />
      </div>
    </div>
  </form>

</main><!-- /.container -->
  <%- include("../../_share/javascripts.ejs") %>
  <script src ="/public/javascripts/account/posts/regist.js"></script>
  </body>
</html>
